:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------Меню нав---------- */
.header {
  background-color: #ffffff;
}

.header-logo,
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: inherit;
  }

.logo {
  color: var(--accent-color);
}

.header-link,
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-list .link.current {
  color: var(--accent-color);
}
.contact {
  color: var(--secondary-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* ---------Герой--------- */
.hiro {
  background-color: #2f303a;
}

.hiro-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hiro-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
}

/* ------------Особенности----------- */
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* -------------Чем занимаемся---------- */
.promo-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
 
}

/* --------------Команда----------------- */
.team {
  background-color: #f5f4fa;
 }

/* .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
} */

.team-member,
.team-function {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  }

.team-function {
  font-weight: 400;
  color: var(--secondary-color);
}

/* --------------Подвал-------------- */
.footer {
  background: #2f303a;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
font-style: normal;
}

.footer-contact,
.footer-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-location {
  color: #ffffff;
}

/* -------------Портфолио--------------- */
.project-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: #F5F4FA;
  cursor: pointer;
}

.project-btn:hover,
.project-btn:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
